.user-card{
    text-align: center;
}

.image{
    border-radius: 100%;
    margin-bottom: 2%;
<<<<<<< HEAD
    width: 5rem;
=======
    width: 7rem;
>>>>>>> 15cd6e9265c51bdeb36009c0e790474cee68fe7f
}

.title{
    color: #ffffff;
    font-family:  "Times New Roman", serif;

}

.name{
    color: 	#ffffff;
    font-family:  "Times New Roman", monospace;
    font-size: medium;
}